.control {
    min-width: 132px;
    min-height: 44px;
    background-color: var(--palette-bg1);
    border: var(--palette-bg2) 2px solid;
    color: var(--palette-text);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 44px;
    margin: 0;
}
