.tooltip:global(.leaflet-tooltip) {
    background-color: var(--palette-bg1);
    color: var(--palette-text);
    border: none;
    padding: 0 4px;

    &:before {
        all: unset;
    }

    z-index: 1 !important;
}

.pixelImg {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    z-index: 1 !important;
}
