.tooltip:global(.leaflet-tooltip) {
    background-color: var(--palette-bg1);
    color: var(--palette-text);
    border: none;
    padding: 0 4px;
    z-index: 10 !important;

    &:before {
        all: unset;
    }
}

.icon {
    z-index: 10 !important;
}
