.shown {
    .sidebar {
        left: 0;
    }

    .button {
        left: 350px;
        opacity: 1;
    }
}

.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;

    width: min(400px, 100%);
    height: 100vh;
    left: -400px;
    top: 0;
    z-index: 1000;

    transition: left .4s ease-out;

    color: white;
    background-color: var(--palette-bg2);
    border-right: var(--palette-bg1) 2px solid;
    padding: 0;

    overflow-x: visible;
    overflow-y: auto;
    
    direction: rtl;

    * {
        direction: ltr;
    }

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--palette-bg2);
        border-right: var(--palette-bg1) 1px solid;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--palette-bg3);
        border-radius: 1000px;

        &:hover {
            background-color: var(--palette-bg4);
        }
    }
}

.button {
    all: unset;
    z-index: 1001;
    opacity: 0;

    border-radius: 100%;
    height: 48px;
    width: 48px;
    background-color: var(--palette-bg3);
    color: var(--palette-text);
    font-size: 24px;
    box-shadow: var(--palette-bg1) 2px 0px 8px;
    text-align: center;

    position: absolute;
    top: 50vh;
    transform: translate(50%, -100%);

    transition: filter .1s;
    cursor: pointer;

    &:hover {
        filter: brightness(150%);
    }

    @media only screen and (max-width: 424px) {
        top: 24px;
        left: calc(100vw - 64px) !important;
        transform: none;
    }

    @media only screen and (min-width: 424px) {
        left: -50px;
        transition: left .4s ease-out;
    }
}

.header {
    width: 100%;
    padding: 1em;
    margin: 0;
    background-color: var(--palette-bg3);

    font-size: 0.9rem;

    line-break: anywhere;
}

.description {
    position: relative;
    flex-grow: 1;

    min-height: min-content;
    padding-bottom: 100px;
    
    img {
        width: 100%;
        image-rendering: auto;
    }

    p {
        padding: 0 1em;
    }

    a {
        display: block;
        width: 100%;
        background-color: var(--palette-bg3);
        text-align: center;
        padding: 1.5em 0;

        position: absolute;
        bottom: 0;

        text-decoration: none;
        color: var(--palette-text);
        font-weight: bold;
        font-size: 16px;

        transition: filter .1s;

        &:hover {
            filter: brightness(150%);
        }
    }
}
